.CVPreview {
  min-height: 1000px;
  max-width: 1200px;
  background-color: white;
  display: flex;
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.2);
}

p {
  margin: 0;
}

.header {
  background-color: #0e374e;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.headerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.headerRow img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.headerRow div {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.headerRow div p {
  white-space: nowrap;
}

.header p,
.header h1 {
  color: white;
  margin: 0;
}

.header h1 {
  padding: 10px 20px;
}

.profile,
.education,
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 50px 20px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 50px 0;
}

.profile h2,
.skills h2,
.education h2,
.experience h2 {
  background-color: #EEF1F2;
  color: #0E374E;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 20px;
}
.profile p {
  margin: 10px;
  text-align: center;
}

.skills ul {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 0px;
}

.skills li {
  margin: 0;
}

.dates {
  display: flex;
}

.infoLeft { 
  display: flex;
  flex-direction: column;
  width: 140px;
  padding-right: 30px;
}

.infoRight {
  width: 100%;
}

.educationItem,
.experienceItem {
  width: 100%;
  display: flex;
  padding: 10px 0;
}

.educationItem p,
.experienceItem p {
  padding: 2.5px;
}

.bold {
  font-weight: 600;
}


