.deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0 20px;
    cursor: pointer;
}

.deleteBtn img {
    width: 20px;
    ;
}

.deleteBtn p {
    font-size: 15px;
    font-weight: 800;
    color: rgb(200, 200, 200);
}

.deleteBtn:hover {
    scale: 1.1;
    transition: 0.3s;
    border: 1px solid rgb(120, 120, 120);
}

.deleteBtn:hover p {
    color: rgb(120, 120, 120);
    transition: 0.3s;
}