button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0 20px;
    cursor: pointer;
}

button img {
    width: 20px;
}

button p {
    font-size: 15px;
    font-weight: 800;
    color: rgb(200, 200, 200);
}