/* Experience Section --------------------------------------------------*/

.ExperienceSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.2);
}

.ExperienceHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 7.5px 0 7.5px;
}

.ExperienceHeader h1 {
  margin: 0 0 0 10px;
  font-size: 20px;
  font-weight: 600;
}

.ExperienceHeader div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ExperienceHeader img {
  width: 30px;
  height: 30px;
  transition: 1s;
}

.addExperience {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 10px;
  border: 4px solid #f3f4f6;
  border-radius: 40px;
  margin: 20px auto 0;
  cursor: pointer;
}

.addExperience:hover {
  scale: 1.1;
  transition: 0.3s;
}

.addExperience img {
  width: 15px;
  margin-right: 5px;
}

.addExperience p {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
}

.ExperienceHeader:hover .HeaderTitle {
  scale: 1.1;
  transition: 0.3s;
}

.ExperienceHeader:hover .DropDownImg {
  scale: 1.2;
  transition: 0.3s;
}

.JobList {
  list-style: none;
  padding-left: 0;
}

.JobListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.JobListItem h2 {
  font-size: 18px;
  font-weight: 500;
}

.JobListItem img {
  width: 25px;
}

.JobListItem:hover .JobListItemImg {
  scale: 1.3;
  transition: 0.3s;
}

.JobListItem:hover .JobListItemName {
  scale: 1.1;
  transition: 0.3s;
}

.Seperator {
  border: 2px solid #f3f4f6;
  width: calc(100% + 60px);
  transform: translateX(-33px);
}

/*  Form --------------------------------------------- */

.ExperienceForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.ExperienceForm form {
  display: flex;
  flex-direction: column;
}

.ExperienceForm label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.ExperienceForm input,
.ExperienceForm textarea {
  box-sizing: border-box;
  background-color: #f3f4f6;
  margin-bottom: 15px;
  border: none;
  outline: 2px solid #f3f4f6;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  resize: none;
}

.ExperienceForm input:focus {
  outline: 2px solid rgb(0, 140, 255);
  box-shadow: 0px 0px 20px -8px rgba(0, 140, 255, 1);
  transition: 0.3s;
}

.ExperienceDates {
  display: flex;
}

.startDateDiv {
  padding-right: 30px;
}

.ExperienceDates div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
