.mainDiv {
    width: 80%;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid transparent;
}