.mainDiv {
    width: 80%;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: 0.8fr 3fr 5fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    border: 2px solid transparent;
}